<!Doctype HTML>
<html>
	<head>
		<title>Coming Soon</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/bootstrap/normalize.css">
        <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
		<script src="js/main.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg">
					<div class="image">
						<img src="img/three.jpg"/>
					</div>
				
					<div class="main">
						<p>Puzzles are fun. Can you solve this?" - "puzzlesafuncanyousolvis" = ?</p>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>