<!Doctype HTML>
<html>
	<head>
		<title>Coming Soon</title>
		<link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
		<script src="js/main.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="img/three.jpg"/>
				</div>
				<div class="col-md-6">
					<div class="main">
						<h1>"Puzzles are fun. Can you solve this?" - "puzzlesafuncanyousolvis" = ?</h1>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>