<!Doctype HTML>
<html>
	<head>
		<title>Holidays API</title>
		<link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
		<script src="js/main.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1><strong>Holidays API</strong></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h2>Holidays in current year</h2>
						<% @holidays_now.each do |date| %>
							<% date.each do |holiday| %>
								<p><%= holiday["name"] %> : <%= holiday["date"] %></p>
							<% end %>
						<% end %>
				</div>
				<div class="col-md-6">
					<h2>Holidays in birthday year</h2>
						<% @holidays_birth.each do |date| %>
							<% date.each do |holiday| %>
								<p><%= holiday["name"] %> : <%= holiday["date"] %></p>
							<% end %>
						<% end %>
				</div>
			</div>
		</div>

	</body>
</html>