<!Doctype HTML>
<html>
	<head>
		<title>Coming Soon</title>
		<link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
		<script src="js/main.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="img/<%= yield_content :img_key %>.jpg">
				</div>
				<div class="col-md-6">
					<div class="main">
						<h1> <%= yield_content :text_key %> </h1>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>